@charset "UTF-8";
/* CSS Document */
* {
    box-sizing: border-box;
}

body{
    background: url("background.png") no-repeat fixed top right;
    background-size: cover;
    background-color: skyblue;
}
#container{width: 900px;
    margin:0 auto;}

header{
    text-align: center;
    color:black;
}

h2{
    text-align: left;
}

h3{
    text-align: left;
}
